.card_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding-left: 10px;
    margin: 5px;
}
.group_header{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    color: grey;
}
.group_title{
    font-weight: bold;
    color: black;
    padding: 4px;
    
}
.icons{
    padding: 4px;
}
.cards{
    width: 300px;
}
.titi{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titi span {
    margin-left: 10px;
}